[submodule "external/LIBERO"]
	path = external/LIBERO
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "external/openvla"]
	path = external/openvla
	url = https://github.com/openvla/openvla.git
[submodule "external/dlimp"]
	path = external/dlimp
	url = https://github.com/kvablack/dlimp
