[submodule "external/LIBERO"]
	path = external/LIBERO
	url = https://github.com/object814/LIBERO-forked.git
[submodule "external/openvla"]
	path = external/openvla
	url = https://github.com/object814/openvla-forked.git
[submodule "external/dlimp"]
	path = external/dlimp
	url = https://github.com/object814/dlimp-forked.git
[submodule "external/rlds_dataset_builder"]
	path = external/rlds_dataset_builder
	url = https://github.com/object814/rlds_dataset_builder-forked.git
[submodule "external/l2p-pytorch"]
	path = external/l2p-pytorch
	url = https://github.com/object814/l2p-pytorch_forked.git
