# LIBERO requriements
hydra-core==1.2.0
easydict==1.9 
opencv-python==4.6.0.66 
robomimic==0.2.0 
einops==0.4.1
thop==0.1.1-2209072238
robosuite
bddl==1.0.1
future==0.18.2
cloudpickle==2.2.1
gym==0.25.2
# openvla requirements
timm==0.9.10
tokenizers==0.19.1
# dlimp requirements
tensorflow==2.15.0
tensorflow_datasets==4.9.6
tensorflow_graphics==2021.12.3
tqdm
tqdm-multiprocess==0.0.11
# rlds-dataset requirements
tensorflow-hub==0.13.0
apache_beam
plotly
# mutual requirements
transformers==4.40.1
matplotlib
wandb
numpy